node_modules
!.gitkeep
package-lock.json
yarn.lock

.DS_Store
.AppleDouble
_asserts/
npm-debug.log
*.txt
tmp.*
./communal/test/
jest.config.json
wpkConfig/
.eslintrc.json

.babelrc
postcss.config.js
webpack.config.babel.js